<div id='users' class='outer_div'>
  <table id="users_table">
    <caption>All Students</caption>
    <tr>
      <th><a href='users'>Students</a></th>
      <th><a href='users?q=total_questions'>total_questions</a></th>
      <th><a href='users?q=correct'>correct questions</a></th>
      <th><a href='users?q=incorrect'>incorrect questions</a></th>
      <th><a href='users?q=percent'>percent correct</a></th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, statistic_path(user.id), method: :get %></td>
          <% if user.userquestionstat %>
            <td><%= user.userquestionstat.total_questions %></td>
            <td><%= user.userquestionstat.correct %></td>
            <td><%= user.userquestionstat.incorrect %></td>
            <td><%= (user.userquestionstat.correct.to_f / user.userquestionstat.total_questions.to_f).round(2) %></td>
          <% else %>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>NaN</td>
          <% end %>
      </tr>
    <% end %>
  </table>
</div>
