<div id='users' class='outer_div'>
  <table id="users_table">
    <caption>All Students</caption>
    <tr>
      <th>Students</th>
      <th>total_questions</th>
      <th>correct questions</th>
      <th>incorrect questions</th>
      <th>percent correct</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
          <% if user.userquestionstat %>
            <td><%= user.userquestionstat.total_questions %></td>
            <td><%= user.userquestionstat.correct %></td>
            <td><%= user.userquestionstat.incorrect %></td>
            <td><%= (user.userquestionstat.correct.to_f / user.userquestionstat.total_questions.to_f).round(2) %></td>
          <% else %>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>NaN</td>
          <% end %>
      </tr>
    <% end %>
  </table>
</div>
