<%= button_to "To the games!", practices_path, method: :get, class: 'button radius', id: 'to_the_games' %>
<section class="module content">
  <div class="container">
    <div id='homes_back'>
      <div class='outer_div title_screen'>
        <p id='homes_title'>Benchsparks!</p>
        <div>
          <%= image_tag("Benchspark.png") %>
        </div>
        <p class='mid'>Expand your multiplication mind</p>
      </div>
    </div>
  </div>
</section>


<section class="module parallax parallax-1">
  <div class="container">

    <h1>Ready?</h1>

  </div>
</section>

<section class="module content">
  <div class="container">
    <div id='homes_back'>
      <div class='title_screen'>
        <div class='outer_div distinct'>
          <%= image_tag("specific practice.png") %>
        </div>
        <p>select a number.</p>
        <div  class='outer_div distinct'>
          <%= image_tag("practice.png") %>
        </div>
        <p>practice practice practice.</p>
        <div  class='outer_div distinct'>
          <%= image_tag("level practice.png") %>
        </div>
        <p>level up your timed game scores.</p>
        <div  class='outer_div distinct'>
          <%= image_tag("timed practice.png") %>
        </div>
        <p>See how many you can achieve!</p>
      </div>
    </div>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1>Set?</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <div id='homes_back'>
      <div class='title_screen'>
        <div class='outer_div distinct'>
          <%= image_tag("bench sparks.png") %>
        </div>
        <p>Then onto your benchsparks.</p>
        <div  class='outer_div distinct'>
          <%= image_tag("benchsparks.png") %>
        </div>
        <p>answer 15 of each and earn them all!</p>
      </div>
    </div>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h1>Multiply!</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <div id='homes_back'>
      <div class='title_screen'>
        <div class='outer_div distinct'>
          <%= image_tag("practice stats.png") %>
        </div>
        <p>Track session stats</p>
        <div  class='outer_div distinct'>
          <%= image_tag("stats.png") %>
        </div>
        <p>Track all your stats.</p>
        <p class='a_little_bigger'>Keep those numbers rising!</p>
      </div>
      <div class='end_of_title'><p>Now go become great!</p></div>
    </div>
  </div>
</section>
