<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
  <title>Benchsparks</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="left"></div>
  <div id="right"></div>
  <div id="top"></div>
  <div id="bottom"></div>
  <div id="left2"></div>
  <div id="right2"></div>
  <div id="top2"></div>
  <div id="bottom2"></div>
  <div class='topbar_wrap'>
    <nav class="top-bar">
      <section class="top-bar-section">
        <ul class="left">
          <li><a href="/"><%= image_tag("Benchspark.png", class: "title_image") %></a></li>
        </ul>
      </section>

      <ul class="title-area">
        <li class="name">
          <h1><a href="/benchsparks">Benchsparks</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <%- if current_user -%>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <%- else -%>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <%- end -%>
        </ul>
        <ul class="left">
          <%- if current_user -%>
            <li><%= link_to "Practice", practices_path %></li>
            <li><%= link_to "TimedPractice", timedpractices_path %></li>
            <li><%= link_to "MyStats", statistic_path(current_user.id) %></li>
          <%- end -%>
        </ul>
      </section>
    </nav>
  </div>
  <% if current_user %>
    <% if current_user.admin? %>
      <dl class="sub-nav">
        <dt>Admin Pages:</dt>
        <dd><%= link_to "all users", users_path %></dd>
        <dd><%= link_to "groups", groups_path %></dd>
        <dd><%= link_to "admin team", admins_path %></dd>
        <dd><dd>
      </dl>
    <% end%>
  <% end %>

  <div class='inner_body'>
    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>



    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>
  </div>
</body>
</html>
